{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Password Reset Complete{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'productiqbackend/style.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}
        <div class="password-reset-complete-container">
            <h2>Password Reset Complete</h2>
            <p>Your password has been successfully reset.</p>
        </div>
        {% endblock %}
    </div>
</body>
</html>
